<div class="card" *ngIf="form">
  <div class="card-header" *ngIf="form.label">
    <h4 class="card-title">
      <span *ngIf="form.icon">
        <i class="fa {{form.icon}}" aria-hidden="true"></i>
      </span>
      {{form.label}}
    </h4>
  </div>
  <div class="card-body">
    <form>

      <fieldset [class.fieldset]="itemRow.type == 'fieldset'" *ngFor="let itemRow of form.items">
        <legend *ngIf="itemRow.type == 'fieldset'" class="w-auto">
          <i class="fa {{itemRow.icon}}" aria-hidden="true"></i>
          {{itemRow.label}}
        </legend>
        <div class="row" >
          <div class="col" *ngFor="let item of itemRow.items">

            <div class="form-group" *ngIf="item.type == 'text' || item.type == 'number' || item.type == 'date'">
              <label>{{item.label}}</label>
              <input type="{{item.type}}" class="form-control form-control-sm" [disabled]="item.disabled" placeholder="{{item.placeholder}}" value="{{item.value}}">
            </div>

            <div class="form-group" *ngIf="item.type == 'list'">
              <label>{{item.label}}</label>
              <select class="form-control form-control-sm" [multiple]='item.multiple'>
                <option *ngFor="let option of item.options" [selected]='option.selected' value="{{option.value}}">{{option.label}}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="item.type == 'checkbox'">
              <label>{{item.label}}</label>
              <div class="custom-controls-stacked px-2">
                <div class="custom-control custom-checkbox" *ngFor="let option of item.options">
                  <input type="checkbox" class="custom-control-input" id="item-{{option.label}}" [checked]="option.checked">
                  <label class="custom-control-label" for="item-{{option.label}}">{{option.label}}</label>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="item.type == 'button'">
              <label>&nbsp;</label>
              <button type="button" class="btn btn-sm form-control {{item.style}}">
                <i *ngIf="item.icon" class="fa {{item.icon}}" aria-hidden="true"></i> {{item.label}}
              </button>
            </div>

          </div>
        </div>
      </fieldset>

    </form>
  </div>
  <div class="card-footer actions" *ngIf="form.actions">
    <button type="button" class="btn btn-sm ml-2 {{itemAction.style}}" *ngFor="let itemAction of form.actions" [disabled]="itemAction.disabled"> 
      <i *ngIf="itemAction.icon" class="fa {{itemAction.icon}}" aria-hidden="true"></i> {{itemAction.label}}
    </button>
  </div>
</div>
<div class="card p-3" *ngIf="!form">
  Invalid Form
</div>
