@import "./../styles/imports";

.container-fluid {
  padding: 0;
  display: grid;

  grid-template: 3em calc(100vh) 3em/1fr 4fr;
  grid-template-areas: "h h" "m m" "f f";

  transition: all 1s;

  app-header {
    grid-area: h;
  }
  main {
    padding: 0.4em;
    background: $main-color;
    grid-area: m;
    overflow-y: auto;
  }
  app-aside {
    background: $aside-color;
    grid-area: a;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    padding: 1em;
  }
  app-footer {
    background: $footer-color;
    grid-area: f;
  }

  @include r(480) {
    grid-template: 100vh/1fr 1fr;
    grid-template-areas: "a m";

    app-header {
      display: none;
    }
    app-footer {
      display: none;
    }
  }
}
