<aside (click)="loginPage()">
    <ul class="list-group">
        <li class="list-group-item list-group-item" *ngFor="let item of menu" [class.active]="item == selectedItem">
            <span (click)="gotoUrl(item)">
              <i class="fa" [class.fa-chevron-right]="item.sub?.length" [class.fa-caret-right]="!item.sub?.length" [class.fa-rotate-90]="item.sub?.length && item == selectedItem" aria-hidden="true"></i>
              {{item.name}}
            </span>
            <ul class="list-group" *ngIf="item.sub?.length">
                <li class="list-group-item list-group-item" *ngFor="let subitem of item.sub" [class.active]="subitem == selectedSubItem">
                  <span (click)="gotoUrl(subitem, item)">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    {{subitem.name}}
                  </span>
                </li>
            </ul>
        </li>
    </ul>


<!--
  <ul class="list-group">
    <li class="list-group-item list-group-item-action active" (click)="goto()">
      <span>Extraction</span>

      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
        <span>001</span>
        </li>
        <li class="list-group-item list-group-item-action">
        <span>002</span>
        </li>
        <li class="list-group-item list-group-item-action">
        <span>003</span>
        </li>
        <li class="list-group-item list-group-item-action">
        <span>004</span>
        </li>
      </ul>

    </li>
    <li class="list-group-item list-group-item-action">
      <span>Anonymization</span>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">001</li>
        <li class="list-group-item list-group-item-action">002</li>
        <li class="list-group-item list-group-item-action">003</li>
        <li class="list-group-item list-group-item-action">004</li>
      </ul>
    </li>
    <li class="list-group-item list-group-item-action">
      <span>
        Execution
      </span>
    </li>
    <li class="list-group-item list-group-item-action">
      <span>
        Scheduling
      </span>
    </li>
    <li class="list-group-item list-group-item-action">
      <span>
        Cloud Module
      </span>
    </li>
    <li class="list-group-item list-group-item-action">
      <span>
        Cloud container
      </span>
    </li>
  </ul> -->


</aside>
