<div class="card text-center" *ngIf="list">

  <div class="card-header" *ngIf="list.label">
    <h4 class="card-title">
      <span *ngIf="list.icon">
        <i class="fa {{list.icon}}" aria-hidden="true"></i>
      </span>
      {{list.label}}
    </h4>
  </div>

  <div class="card-body">


    <div class="card  border-success m-2 current">
      <div class="card-header">
        <div class="title">
          <span class="badge badge-pill badge-danger">20190830D00005</span> Critical
        </div>
        <h5>
          Query Idade Ossea <i class="fa fa-refresh fa-spin fa-fw"></i>
        </h5>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-sm btn-warning "><i class="fa fa-pause" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-sm btn-secondary disabled"><i class="fa fa-play" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-stop" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="card-body">
            <table class="table table-striped table-hover table-sm">
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-file-image-o" aria-hidden="true"></i> Study
                  </td>
                  <td>
                    <i class="fa fa-user" aria-hidden="true"></i> User00005
                  </td>
                  <td>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </td>
                  
                </tr>
              </tbody>
            </table>
            <table class="table table-striped table-hover table-sm">
              <tbody>
                <tr>
                  <td>
                    Inicio: 08/05/2020 | 10:00
                  </td>
                  <td>
                    Tempo decorrido: 1:12:52
                  </td>
                  <td>
                    Previsão: 08/05/2020 | 18:27
                  </td>
                
                  
                </tr>
              </tbody>
            </table>
            <table class="table table-striped table-hover table-sm">
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i> Path IN: //extraction/20190830D00005
                  </td>
                  <td>
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i> Path OUT: //anonymization/A2019083000005
                  </td>

                
                  
                </tr>
              </tbody>
            </table>
      </div>
    </div>



    <table class="table table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th *ngFor="let col of list.labels">{{col.label}}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list.items">
          <td>
            <span class="badge badge-pill badge-{{item.status}}">{{item.id}}</span>
          </td>
          <td *ngFor="let col of list.labels">
            {{item[col.prop]}}
          </td>
          <td>
            <button *ngFor="let action of list.actions" class="ml-1 btn btn-sm {{action.style}}">
              <i class="fa {{action.icon}}" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center pagination-sm">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<div class="card p-3" *ngIf="!list">
  Invalid List
</div>